VITE_SUPABASE_URL=https://iurebjmslptkueuiacpy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1cmViam1zbHB0a3VldWlhY3B5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MjEyODAsImV4cCI6MjA5MDA5NzI4MH0.VPuVWVJ-4HSqrQoh4ZGE8NcVjdJLLmSKezEpuORNRqs
VITE_API_URL=http://localhost:5000
